# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
homerun2-light-catcher
wled-mock

# Test
*.test
*.out
coverage.html

# Dependency directories
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
dist/
/tmp/
